body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('../public/imagenes/playa.jpg'); 
    background-size: cover; 
    background-attachment: fixed;
    background-position: center; 
    background-repeat: no-repeat; 
    color: #333;
  }
  .inicio-cuerpo {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    opacity:1;
  }
  
  .header {
    text-align: center;
    padding: 50px 0;
    background-color: #007BFF;
    color: #fff;
  }
  
  .header h1 {
    margin: 0;
    font-size: 3rem;
  }
  
  .header p {
    font-size: 1.2rem;
    margin-top: 10px;
  }
  
  .seccion-destinos {
    padding: 40px 0;
    text-align: center;
  }
  
  .seccion-destinos h2 {
    font-size: 2.2rem;
    margin-bottom: 20px;
  }
  
  .destinos-grid {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .destino {
    background-color: #f9f9f9;
    padding: 20px;
    margin: 10px;
    width: 30%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }
  
  .destino:hover {
    transform: scale(1.05);
  }
  
  .destino img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 15px;
  }
  
  .destino h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .destino p {
    font-size: 1rem;
    color: #555;
  }
  
  .seccion-servicios {
    background-color: #f0f0f0;
    padding: 40px 0;
    text-align: center;
  }
  
  .seccion-servicios h2 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .seccion-servicios ul {
    list-style-type: none;
    padding: 0;
  }
  
  .seccion-servicios ul li {
    font-size: 1.1rem;
    margin: 10px 0;
    color: #555;
  }
  
  .footer {
    text-align: center;
    padding: 20px 0;
    background-color: #007BFF;
    color: #fff;
    margin-top: 30px;
  }
  
  .footer p {
    margin: 5px 0;
    font-size: 0.9rem;
  }