.menu-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #001f3f;
    padding: 10px 20px;
  }
  .logito{
    color: aqua;
    
  }

  .logo {
    color: white; 
    font-size: 22px;
  }
  
  .logo span {
    color: #f39c12;
  }
  
  .men {
    position: relative;
    z-index: 10; 
  }

  .menu-center {
    flex-grow: 1; 
    display: flex;
    justify-content: center; 
  }
  
  .menu-center ul {
    list-style: none;
    display: flex; 
    padding: 0;
    margin: 0;
  }
  
  .menu-center ul li {
    margin: 0 10px; 
  }
  
  .menu-center ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255); 
    font-size: 22px;
    padding: 5px 10px;
    transition: background-color 0.3s ease;
  }
  .menu-center ul li a:hover{
    color: aqua;
}

  .menu-center ul li a.active {
    background-color: orange; 
    color: white;
    border-radius: 5px;
    padding: 10px 15px;
    
  }
  
  
  .care-down ul {
    display: none; 
  }
  
  .menu-center ul li:hover .care-down ul {
    display: block; 
    position: absolute;
  }
  
  .care-down ul {
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
  }
  
  .care-down ul li {
    margin: 0;
    padding: 10px;
  }
  
  .care-down ul li a {
    color: black;
    padding: 5px;
  }
  
  .care-down ul li a:hover {
    color: red;
  }
  