* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .container-pantalla {
    display: flex;
    margin-top: 50px;
  }
  .container-pantalla .content-img {
    text-align: center;
    width: 50%;
    position: relative;
    top: 0;
  }
  
  .container-pantalla .content-img .img2,
  .container-pantalla .content-img .img4 {
    text-align: center;
    width: 750px;
    height: 340px;
    position: absolute;
    top: 0;
    left: 10;
    right: 0;
    opacity: 0;
    transition: all 1s;
  }
  
  .container-pantalla .content-img .img1,
  .container-pantalla .content-img .img3 {
    height: 350px;
    width: 750px;
    padding-top: 40px;
    transition: all 1s;
  }
  
  .container-pantalla .content-text {
    width: 50%;
    padding: 6px;
  }
  
  .container-pantalla .content-text2 {
    width: 50%;
    padding: 10px;
  }
  
  .container-pantalla .content-text .titulo3 {
    font-size: 40px;
    line-height: 80px;
    text-align: center;
    color: #e00e0e;
    padding: 20px;
    text-shadow: 20px 10px 10px #cae919, 0px 0px 10px #ece908,
      0px 0px 10px hsl(63, 83%, 44%);
  }
  
  .container-pantalla .content-text .descripcion {
    text-align: center;
    padding: 10px;
    font-size: 20px;
  }
  
  
  .content-text2 {
    text-align: center;
    padding-top: 40px;
  }
  
   .titulo2 {
    
    margin: 70px 0px 0px 100px;
    font-size: 30px;
    width: 50%;
    text-align: center;
    color: #471d1d;
    text-shadow: 20px 10px 10px #f7f7f78e, 0px 0px 10px #f7f31cea,
      0px 0px 10px hsl(60, 2%, 62%);
  }
  .content-text2 p{
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  .carousel {
    overflow: hidden; /* Oculta el desbordamiento */
    width: 100%; /* Ancho del carrusel */
  }
  
  .carousel-container {
    display: flex; /* Usamos flexbox para el carrusel */
    transition: transform 0.5s ease; /* Efecto de transición */
  }
  
  .carousel-item {
    min-width: 100%; /* Cada elemento ocupa el 100% del ancho del contenedor */
    box-sizing: border-box; /* Incluye padding y border en el tamaño total */
    padding: 20px; /* Espaciado interno */
    text-align: center; /* Centra el texto */
  }
  
  img {
    max-width: 100%; /* Asegura que la imagen no se desborde */
    height: auto; /* Mantiene la relación de aspecto */
  }
  
  Contenido */ section {
    display: flex;
    margin-top: 20px;
  }
  
  .images-blog {
    height: 300px;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
  }
  
  /* Otros estilos */
  
  
  .image-blog {
    /* background-color: white; */
    padding-top: 0px;
    width: 600px;
    height: 300px;
    color: black;
    display: flex;
    flex-wrap: wrap;
    margin: 20px 30px 50px 80px;
    border-radius: 20px;
    box-shadow: 7px 3px 10px #6fb8c0;
    transition: transform 0.3s ease;
  }
  
  
  .image-blog:hover {
    transform: scale(1.09);
  }
  
  .image-blog p {
    font-size: 20px;
    text-align: center;
    padding: 35px;
  }
  
  .image-blog img {
    margin: 10 auto;
    width: 180px;
    height: 150px;
  }
  
  .sub-form-blog input {
    border-radius: 7px;
    padding: 5px 10px;
    margin-bottom: 10px;
    width: 100%;
  }
  
  .sub-form img {
    display: block;
    margin: 30px auto;
  }
  
  .image-blog .nombres {
    text-align: center;
    color: #e43535;
    padding: 40px;
    font-size: 30px;
  }
  